{{ define "content" }}
    <form
        x-data
        id="createTweet"
        method="post"
        action="/?id=createTweet"
        @submit.prevent="$fir.submit"
    >
        <input
            type="text"
            name="body"
            placeholder="a new tweet"
        />
        {{ block "fir-errors-createTweet-body" . }}
            {{ with .fir.errors.createTweet.body }}
                <p id="fir-errors-createTweet-body">
                    {{ .fir.errors.createTweet.body }}
                </p>
            {{ end }}
        {{ end }}
        <button type="submit">Submit</button>
    </form>
    <div id="tweets">
        {{ range .tweets }}
            {{ block "tweet" . }}
                <li>{{ .Body }}</li>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
