{{define "modal"}}
<div class="modal" id="{{.id}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form action="{{.action}}" method="POST">
            <header class="modal-card-head">
                <p class="modal-card-title">Are you sure ?</p>
                <button class="delete" aria-label="close">
                </button>
            </header>
            <footer class="modal-card-foot is-justify-content-flex-end">
                <button class="button is-danger" type="submit">Yes</button>
                <button class="button">
                    Cancel
                </button>
            </footer>
        </form>
    </div>
</div>
{{end}}