*.db
.vscode
node_modules
dist
tmp
.DS_Store
__debug_bin
*.log
*.test
*.txt

# Compiled example binaries
examples/*/main
examples/*/app
examples/*/*app*
examples/*/custom_template_engine
examples/*/autocomplete
examples/*/chirper
examples/*/count
examples/*/counterticker
examples/*/countertickerredis
examples/*/defaultroute
