*.db
.vscode
node_modules
dist
tmp
.DS_Store
__debug_bin
*.log
*.test
*.txt

# Compiled example binaries
examples/**/*/
examples/*/*
!examples/**/*.go
!examples/**/*.html
!examples/**/*.md
!examples/**/*.json
!examples/**/README.md
