{{ define "createproject" }}
    <div class="has-background-light px-4 py-4">
        <p class="has-text-weight-semibold mb-2 has-text-centered">
            Create a project
        </p>

        <form
            x-ref="createForm"
            @fir:create:ok.window="$refs.createForm.reset()"
            method="post"
            action="/?event=create"
            @submit.prevent="$fir.submit()">
            <div class="field">
                <label class="label"> Title </label>
                <div class="control">
                    <input
                        name="title"
                        class="input"
                        type="text"
                        value=""
                        placeholder="Title" />
                </div>

                <div
                    id="title-err"
                    @fir:create:error:title-err.window="$fir.replace()">
                    {{ block "title-err" . }}
                        <p class="help is-danger">
                            {{ .fir.Error "create.title" }}
                        </p>
                    {{ end }}
                </div>
            </div>
            <div class="field">
                <label class="label"> Description </label>
                <div class="control">
                    <input
                        name="description"
                        class="input"
                        type="text"
                        value=""
                        placeholder="Description" />
                </div>
                <div
                    id="description-err"
                    @fir:create:error:description-err.window="$fir.replace()">
                    {{ block "description-err" . }}
                        <p class="help is-danger">
                            {{ .fir.Error "create.description" }}
                        </p>
                    {{ end }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
{{ end }}
