{{ define "toolbar" }}
    <form
        x-ref="queryForm"
        class="mb-4"
        action="/?event=query"
        @submit.prevent="$fir.submit()">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select
                                name="order"
                                @change="$dispatch('query-changed')">
                                <option
                                    value="newest"
                                    {{ if eq .order "newest" }}
                                        selected
                                    {{ end }}>
                                    Newest
                                </option>
                                <option
                                    value="oldest"
                                    {{ if eq .order "oldest" }}
                                        selected
                                    {{ end }}>
                                    Oldest
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info">
                            Sort
                        </button>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input
                            x-ref="search"
                            @input.debounce.500ms="$dispatch('query-changed')"
                            name="search"
                            class="input"
                            type="text"
                            value="{{ .search }}"
                            placeholder="Find a project" />
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div
            x-fir-refresh="query:ok"
            id="pagination"
            class="pagination is-right mt-4"
            role="navigation"
            aria-label="pagination">
            <button
                type="submit"
                class="button is-small{{ if not .hasPrevious }}
                    is-static
                {{ end }}"
                name="page"
                value="{{ .prev }}">
                Previous
            </button>
            <button
                type="submit"
                class="button is-small{{ if not .hasNext }}is-static{{ end }}"
                name="page"
                value="{{ .next }}">
                Next
            </button>
        </div>
    </form>
{{ end }}
