{{ define "navbar" }}
    <nav
        x-data="{mobileOpen: false}"
        class="navbar has-shadow"
        role="navigation"
        aria-label="main navigation">
        <div class="navbar-brand py-4">
            <a class="navbar-item" href="/">
                <!--                <img src="/static/images/logo.svg" alt="logo">-->
                <strong>{{ fir.Name }}</strong>
            </a>

            <a
                role="button"
                id="navbar-burger"
                class="navbar-burger"
                aria-label="menu"
                aria-expanded="false"
                @click="mobileOpen = !mobileOpen">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div
            id="navbar-menu"
            class="navbar-menu"
            :class="mobileOpen && 'is-active'">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a
                            class="button {{ fir.ActiveRoute "/" "is-primary" }}"
                            href="/">
                            Boards
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{{ end }}
