<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chirper</title>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0" />

        {{ if fir.Development }}
            <script defer src="http://localhost:8000/cdn.js"></script>
        {{ else }}
            <script
                defer
                src="https://unpkg.com/@livefir/fir@latest/dist/fir.min.js"></script>
        {{ end }}


        <script
            defer
            src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
    </head>

    <body>
        <div x-data="{ disable: false }">
            <h1>Chirper</h1>
            <hr />
            <form
                method="post"
                action="?event=create-chirp"
                @submit.prevent="$fir.submit()"
                @fir:create-chirp:ok.nohtml="$el.reset()"
                @fir:[create-chirp:pending,create-chirp:done]="disable = !disable">
                <!-- prettier-ignore -->
                <textarea type="text" name="body" placeholder="a new chirp" rows="4" cols="100"></textarea>
                <p @fir:create-chirp:error="$fir.replace()">
                    {{ fir.Error "create-chirp.body" }}
                </p>
                <footer>
                    <button :disabled="disable" type="submit">Chirp</button>
                </footer>
            </form>
            <hr />
            <p>
                {{ fir.Error "onload" }}
            </p>
            <div x-fir-prepend:chirp="create-chirp">
                {{ range .chirps }}
                    {{ block "chirp" . }}
                        <section
                            fir-key="{{ .ID }}"
                            @fir:delete-chirp:ok.nohtml="$fir.removeEl()">
                            <form method="post" @submit.prevent="$fir.submit()">
                                <blockquote>
                                    {{ .Body }}
                                </blockquote>
                                <input
                                    type="hidden"
                                    name="chirpID"
                                    value="{{ .ID }}" />
                                <footer>
                                    <button
                                        @fir:like-chirp:ok="$fir.replace()"
                                        formaction="?event=like-chirp"
                                        type="submit">
                                        &#9829;
                                        {{ .LikesCount }}
                                    </button>
                                    <button
                                        formaction="?event=delete-chirp"
                                        type="submit">
                                        &#10005;
                                    </button>
                                </footer>
                            </form>
                        </section>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </body>
</html>
