<!DOCTYPE html>
<html lang="en">
    <head>
        {{ if fir.Development }}
            <script defer src="http://localhost:8000/cdn.js"></script>
        {{ else }}
            <script
                defer
                src="https://unpkg.com/@livefir/fir@latest/dist/fir.min.js"></script>
        {{ end }}
        <script
            defer
            src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
    </head>
    <body>
        <div x-data>
            {{ define "input-text" }}
                <div fir-key="{{ .key }}" @fir:remove:ok="$fir.removeEl()">
                    <form method="post" @submit.prevent="$fir.submit()">
                        <input
                            type="text"
                            name="text"
                            placeholder="input something" />
                        <button
                            formaction="/?event=remove"
                            name="element"
                            value="input-text">
                            Remove
                        </button>
                    </form>
                </div>
            {{ end }}


            <form method="post" @submit.prevent="$fir.submit()">
                <button
                    formaction="/?event=add"
                    name="element"
                    value="input-text">
                    Add input
                </button>
            </form>

            <div @fir:add:ok::input-text.window="$fir.appendEl()"></div>
        </div>
    </body>
</html>
