@charset "utf-8";


.h-full {
  min-height: 101vh !important;
}

.width-320 {
  width: 320px !important;
}

//$navbar-background-color: #002C73;
//$primary: #002C73;


@import "~bulma/bulma";

.bulma-loader-mixin {
  @include loader;
}


// https://bulma.io/documentation/customize/with-webpack/#9-add-your-own-bulma-styles