{{ define "content" }}
    <div
        x-data
        class="columns mt-5">
        <div class="column is-4">
            {{ template "createproject" . }}
        </div>
        <div class="column is-8">
            {{ template "toolbar" . }}
            {{ block "projects" . }}
                <div id="projects">
                    {{ range .projects }}
                        {{ template "projectitem" . }}
                    {{ else }}
                        Nothing here
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
