{{ define "content" }}
    <div x-data class="columns mt-5">
        {{ block "err" . }}
            {{ .fir.Error "route" }}
        {{ end }}
        <p @fir:create:error:create-err.window="$fir.replace()">
            {{ block "create-err" . }}
                {{ .fir.Error "create.route" }}
            {{ end }}
        </p>
        <div class="column is-4">
            {{ template "createproject" . }}
        </div>
        <div class="column is-8">
            {{ template "toolbar" . }}
            <div @fir:query:ok:projects.window="$fir.replace()">
                {{ block "projects" . }}
                    <div
                        id="projects"
                        @fir:create:ok:projectitem.window="$fir.appendEl()">
                        {{ range .projects }}
                            {{ template "projectitem" . }}
                        {{ else }}
                            Nothing here
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
