<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.app_name}}</title>
    {{template "header" .}}
</head>
<body>
<div style="height: 900px">
    {{template "navbar" .}}
    {{template "content" .}}
</div>
{{template "footer" .}}
<script src="https://unpkg.com/goliveview@latest/dist/index.js" crossorigin="anonymous"></script>
<script type="module">
    import {Application} from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
    window.Stimulus = Application.start()
    Stimulus.register("glv", goliveview.Dispatcher)
</script>
</body>
</html>
