{{ define "content" }}
    <div x-data id="content">
        <p>
            {{ fir.Error "onload" }}
        </p>

        <div
            @fir:create-tweet:pending="console.log('create tweet start')"
            @fir:create-tweet:ok="console.log('create tweet done')"></div>

        <form
            id="create-tweet"
            x-ref="createTweet"
            method="post"
            action="/?event=create-tweet"
            @submit.prevent="$fir.submit()"
            @fir:create-tweet:ok="$refs.createTweet.reset()">
            <input type="text" name="body" placeholder="a new tweet" />
            <p @fir:create-tweet:error="$fir.replace()">
                {{ fir.Error "create-tweet.body" }}
            </p>

            <button type="submit">Tweet it!</button>
        </form>
        <div @fir:create-tweet:ok::tweet="$fir.appendEl()">
            {{ range .tweets }}
                {{ block "tweet" . }}
                    <div
                        fir-key="{{ .ID }}"
                        @fir:delete-tweet:ok="$fir.removeEl()">
                        <p>
                            Tweet:
                            {{ .Body }}
                        </p>
                        <p @fir:like-tweet:ok="$fir.replace()">
                            Likes:
                            {{ .LikesCount }}
                        </p>
                        <form method="post" @submit.prevent="$fir.submit()">
                            <input
                                type="hidden"
                                name="tweetID"
                                value="{{ .ID }}" />
                            <button
                                formaction="/?event=like-tweet"
                                type="submit">
                                Like
                            </button>
                            <button
                                formaction="/?event=delete-tweet"
                                type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
