{{ define "content" }}
    <div id="content">
        {{ block "fir-error-route" . }}
            <p id="fir-error-route">
                {{ .fir.Error "route" }}
            </p>
        {{ end }}
        <div
            @fir:emit-start:create-tweet.window="console.log('create tweet start')"
            @fir:emit-end:create-tweet.window="console.log('create tweet done')"></div>

        <form
            id="create-tweet"
            method="post"
            action="/?event=create-tweet"
            @submit.prevent="$fir.submit('create-tweet')"
            style="margin-top:1rem;margin-bottom:1rem;">
            <input type="text" name="body" placeholder="a new tweet" />
            {{/* validation error for the input=body */}}
            {{ block "fir-error-create-tweet-body" . }}
                <p id="fir-error-create-tweet-body">
                    {{ .fir.Error "create-tweet.body" }}
                </p>
            {{ end }}
            <button type="submit">Submit</button>
        </form>
        <div id="tweets" @create-tweet.window="$fir.appendEl()">
            {{ range .tweets }}
            {{/* block "tweet*" matches element id of event listeners: 
              @like-tweet(tweet-{{.ID}}),
              @delete-tweet(tweet-{{.ID}})
              @create-tweet(tweets)
              It is re-rendered on the server when the event is emitted 
              and the output html is patched(replaceEl,removeEl,appendEl) to the element.
               */}}
                {{ block "tweet*" . }}
                    <div
                        id="tweet-{{ .ID }}"
                        @like-tweet="$fir.replaceEl()"
                        @delete-tweet="$fir.removeEl()"
                        style="display: flex;margin-top:1rem;margin-bottom:1rem;">
                        <div style="margin-right:1rem">Tweet: {{ .Body }}</div>
                        <div style="margin-right:1rem">
                            Likes:
                            {{ .LikesCount }}
                        </div>
                        <form
                            method="post"
                            @submit.prevent="$fir.submit()"
                            style="margin-right:1rem">
                            <input
                                type="hidden"
                                name="tweetID"
                                value="{{ .ID }}" />
                            <button
                                formaction="/?event=like-tweet"
                                type="submit">
                                Like
                            </button>
                            <button
                                formaction="/?event=delete-tweet"
                                type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
