{{ define "content" }}
    <div x-data id="content">
        <p>
            {{ fir.Error "onload" }}
        </p>

        <div
            @fir:create-tweet:pending="console.log('create tweet start')"
            @fir:create-tweet:ok="console.log('create tweet done')"></div>

        <form
            id="create-tweet"
            x-ref="createTweet"
            method="post"
            action="/?event=create-tweet"
            @submit.prevent="$fir.submit()"
            @fir:create-tweet:ok="$refs.createTweet.reset()">
            <!-- prettier-ignore -->
            <textarea type="text" name="body" placeholder="a new tweet" rows="4" cols="100"></textarea>
            <p @fir:create-tweet:error="$fir.replace()">
                {{ fir.Error "create-tweet.body" }}
            </p>
            <footer>
                <button type="submit">Tweet it!</button>
            </footer>
        </form>
        <hr />
        <div @fir:create-tweet:ok::tweet="$fir.appendEl()">
            {{ range .tweets }}
                {{ block "tweet" . }}
                    <article
                        fir-key="{{ .ID }}"
                        @fir:delete-tweet:ok="$fir.removeEl()">
                        <form method="post" @submit.prevent="$fir.submit()">
                            <blockquote>
                                {{ .Body }}
                            </blockquote>
                            <input
                                type="hidden"
                                name="tweetID"
                                value="{{ .ID }}" />
                            <footer>
                                <button
                                    @fir:like-tweet:ok="$fir.replace()"
                                    formaction="/?event=like-tweet"
                                    type="submit">
                                    &#9829;
                                    {{ .LikesCount }}
                                </button>
                                <button
                                    formaction="/?event=delete-tweet"
                                    type="submit">
                                    &#10005;
                                </button>
                            </footer>
                        </form>
                    </article>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
