{{define "content"}}
    <div class="columns is-mobile is-centered">
        <div class="column is-one-third has-text-centered">
            <div id="confirm">
                <div class="py-5">
                    {{ if .confirmed}}
                        <div class="box">
                            <p class="has-text-primary">Your email has been confirmed. Log into the app !</p>
                        </div>
                        <a class="button is-primary" href="/login">Login</a>
                    {{else}}
                        <div class="box">
                            <p class="has-text-warning-dark">Unknown signup confirmation token.
                                Please signup again or sign in if you have already signed up.</p>
                        </div>
                        <a class="button is-primary" href="/signup">Sign up</a>
                        <a class="button is-primary" href="/login">Sign in</a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
{{end}}